Analysis on the dataset to make decisions about the correct visualization

In [3]:
import pandas as pd
df = pd.read_csv("../combined_file.csv")
df.drop(['definition', 'column_name'], axis=1, inplace=True)

C:\Users\Franc\AppData\Local\Temp\ipykernel_10748\964578165.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../combined_file.csv")

In [4]:
df[["common_name","scientific_name"]] = df[["common_name","scientific_name"]].fillna("null")

In [5]:
len(df.columns)

28

In [6]:
# Number of cities in original dataset
cities = df["city"].dropna().unique()
len(cities)

146

In [7]:
# Some records don't have a common_name and some others don't have a scientific name, so we are counting 
# the species knowing that each pair of common name - scientific name is ONE species

# Number of species in original dataset
species = df.groupby(["common_name", "scientific_name"]).size().reset_index().rename(columns={0:'count'})
num_species = len(species)

# Grouping by city
df1 = df.groupby(["common_name", "scientific_name", "city"]).size().reset_index().rename(columns={0:'count'})
df1.sort_values(by=['city']).head(10)

            common_name   scientific_name   city  count
663          Amur maple      Acer ginnala  Adair      8
374        American elm   Ulmus americana  Adair      2
2003           Boxelder      Acer negundo  Adair      1
7793              Maple              Acer  Adair     14
1880        Blue spruce     Picea pungens  Adair     22
8210           Mulberry             Morus  Adair      5
1382              Birch            Betula  Adair      2
8432   Northern catalpa  Catalpa speciosa  Adair      1
11316      Siberian elm      Ulmus pumila  Adair      4
4520                Elm             Ulmus  Adair      2

In [8]:
# Number of cities after groupby
cities1 = df1["city"].unique()
len(cities1)

146

In [9]:
# Cities that were lost in the group-by process
difference = [i for i in cities if i not in cities1]
len(difference)

0

In [10]:
# Number of different species per city
df1 = df1.groupby(["city"]).count()
df1 = df1["count"]
df1

city
Adair               31
Adel                36
Ahuimanu             4
Aiea                 1
Albuquerque        101
                  ...
Whitefish Bay       18
Wind Lake            1
Windsor Heights     49
Woodward            45
Worcester           96
Name: count, Length: 146, dtype: int64

In [11]:
# Save in a JSON file
df1.to_csv("../datasets/species_per_city.csv")

In [12]:
print("There are " + str(num_species) + " different species of trees.")
print("There are " + str(df["city"].nunique()) + " cities in our dataset.")

There are 6217 different species of trees.
There are 146 cities in our dataset.