In [2]:
import pandas as pd
df = pd.read_csv("../combined_file.csv")
df.drop(['definition', 'column_name'], axis=1, inplace=True)

C:\Users\Franc\AppData\Local\Temp\ipykernel_21136\964578165.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../combined_file.csv")

In [3]:
df["scientific_name"].nunique()

1964

In [4]:
species = df.groupby(["scientific_name"]).size().sort_values(ascending=False).reset_index().rename(columns={0:'count'})
species

            scientific_name   count
0       Platanus acerifolia  217762
1      Lagerstroemia indica  207061
2          Acer platanoides  198951
3     Gleditsia triacanthos  167242
4          Pyrus calleryana  159981
...                     ...     ...
1959          Ficus rumphii       1
1960         Ficus punctata       1
1961      Ficus pseudopalma       1
1962        Spondias dulcis       1
1963   Quercus occidentalis       1

[1964 rows x 2 columns]

In [9]:
species[species["scientific_name"]=="ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬ÂGordlinia grandiflora"] = "Gordlinia grandiflora"
species[species["scientific_name"]=="ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬ÂChiranthofremontia lenzii"] = "Chiranthofremontia lenzii"

In [13]:
# Save into a JSON file 
species.to_csv("../datasets/species_count.csv", index=False)