In [14]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")
df.drop(['definition', 'column_name'], axis=1, inplace=True)

C:\Users\Franc\AppData\Local\Temp\ipykernel_10380\1588949626.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [15]:
df1 = df[["city", "common_name", "height_M"]].dropna()
df1 = df1[(df1["height_M"] < 130) & (df1["height_M"] > 0)]
df1.head(10)

           city  common_name   height_M
4   Albuquerque  Honeylocust   98.42520
5   Albuquerque  Honeylocust  114.82940
6   Albuquerque   Elm hybrid   98.42520
7   Albuquerque   Elm hybrid   82.02100
8   Albuquerque          Ash   49.21260
9   Albuquerque   Elm hybrid   82.02100
10  Albuquerque          Ash   65.61680
11  Albuquerque  Chinese elm   82.02100
12  Albuquerque  Chinese elm   65.61680
13  Albuquerque   Elm hybrid   59.05512

In [17]:
# Agrupar por "city" y "common_name" y realizar operaciones de agregación
result = df1.groupby(['city', 'common_name']).agg({'common_name': 'count', 'height_M': 'mean'})

# Renombrar columnas para mayor claridad
result = result.rename(columns={'common_name': 'count', 'height_M': 'mean_h'})

# Restablecer el índice para obtener un DataFrame plano
result = result.reset_index()

# Mostrar el resultado
print(result)

                city         common_name  count      mean_h
0           Ahuimanu        Myrtle crape      7   67.491566
1           Ahuimanu            Plumeria      1    6.561680
2           Ahuimanu     Royal poinciana      5   62.335960
3           Ahuimanu           Tulipwood      1   55.774280
4        Albuquerque         Afghan pine     22   70.090673
...              ...                 ...    ...         ...
2327  Temple Terrace          Turkey oak      3  111.548560
2328         Waipahu  Giant crape myrtle     13   67.888151
2329         Waipahu       Golden shower      2   82.021000
2330         Waipahu      Rainbow shower     25   89.763782
2331         Waipahu           Tulipwood      1   45.931760

[2332 rows x 4 columns]

In [18]:
# Save into a JSON file 
result.to_csv("../datasets/species_city.csv", index=False)