In [18]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")

C:\Users\Franc\AppData\Local\Temp\ipykernel_9916\3022062480.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [19]:
df.columns

Index(['most_recent_observation', 'most_recent_observation_type',
       'common_name', 'scientific_name', 'city', 'state',
       'longitude_coordinate', 'latitude_coordinate', 'address', 'condition',
       'height_M', 'native', 'height_binned_M',
       'diameter_breast_height_binned_CM', 'greater_metro', 'city_ID',
       'tree_ID', 'planted_date', 'retired_date', 'location_type', 'zipcode',
       'neighborhood', 'location_name', 'ward', 'district', 'overhead_utility',
       'diameter_breast_height_CM', 'percent_population', 'column_name',
       'definition'],
      dtype='object')

In [48]:
df1 = df.copy()
df1 = df1[["latitude_coordinate", "longitude_coordinate"]]
df1 = df1.dropna()
df1 = df1.sample(frac=1).reset_index(drop=True)
df1 = df1[:500000]

In [49]:
df1

        latitude_coordinate  longitude_coordinate
0                 34.211800           -118.438000
1                 38.539264           -121.466260
2                 45.480745           -122.618552
3                 33.734803            -84.363762
4                 42.362724            -83.218586
...                     ...                   ...
499995            34.181200           -118.381000
499996            43.097056            -89.311250
499997            45.510968           -122.696960
499998            39.310409            -76.599540
499999            47.656893           -122.312765

[500000 rows x 2 columns]

In [50]:
df1.to_csv("../datasets/dot-density.csv", index=False)