In [1]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")

C:\Users\Franc\AppData\Local\Temp\ipykernel_9784\3022062480.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [2]:
df.columns

Index(['most_recent_observation', 'most_recent_observation_type',
       'common_name', 'scientific_name', 'city', 'state',
       'longitude_coordinate', 'latitude_coordinate', 'address', 'condition',
       'height_M', 'native', 'height_binned_M',
       'diameter_breast_height_binned_CM', 'greater_metro', 'city_ID',
       'tree_ID', 'planted_date', 'retired_date', 'location_type', 'zipcode',
       'neighborhood', 'location_name', 'ward', 'district', 'overhead_utility',
       'diameter_breast_height_CM', 'percent_population', 'column_name',
       'definition'],
      dtype='object')

In [20]:
df1 = df.copy()
df1 = df1[["latitude_coordinate", "longitude_coordinate"]]
df1 = df1.dropna()
df1 = df1.sample(frac=1).reset_index(drop=True)
df1 = df1[:4000000]
len(df1)

4000000

In [21]:
len(df1)

4000000

In [22]:
df1.head(3)

   latitude_coordinate  longitude_coordinate
0            40.720158            -73.961370
1            32.770382           -117.105451
2            43.096975            -89.270501

## Convert to GeoJSON

In [25]:
import json
data = df1.copy()

features = []
for index, row in data.iterrows():
    latitude = row['latitude_coordinate']
    longitude = row['longitude_coordinate']

    feature = {
        'type': 'Feature',
        'properties': {},
        'geometry': {
            'type': 'Point',
            'coordinates': [float(longitude), float(latitude)]
        }
    }
    features.append(feature)

geojson = {
'type': 'FeatureCollection',
'features': features
}

with open('../datasets/dot-density.geojson', 'w') as f:
    json.dump(geojson, f)

In [26]:
# df1.to_csv("../datasets/dot-density1.csv", index=False)