In [18]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")

C:\Users\Franc\AppData\Local\Temp\ipykernel_9916\3022062480.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [19]:
df.columns

Index(['most_recent_observation', 'most_recent_observation_type',
       'common_name', 'scientific_name', 'city', 'state',
       'longitude_coordinate', 'latitude_coordinate', 'address', 'condition',
       'height_M', 'native', 'height_binned_M',
       'diameter_breast_height_binned_CM', 'greater_metro', 'city_ID',
       'tree_ID', 'planted_date', 'retired_date', 'location_type', 'zipcode',
       'neighborhood', 'location_name', 'ward', 'district', 'overhead_utility',
       'diameter_breast_height_CM', 'percent_population', 'column_name',
       'definition'],
      dtype='object')

In [78]:
df1 = df.copy()
df1 = df1[["latitude_coordinate", "longitude_coordinate"]]
df1 = df1.dropna()
df1 = df1.sample(frac=1).reset_index(drop=True)
df1 = df1[:1000000]

In [79]:
df1.head(5)

   latitude_coordinate  longitude_coordinate
0            39.737716           -104.924513
1            47.619625           -122.314212
2            44.957733            -93.219072
3            40.487102            -80.027591
4            39.731973           -104.812959

In [80]:
df1.to_csv("../datasets/dot-density.csv", index=False)